/* Write your CSS below. */

/* Do not change any CSS below this line. */
body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: blue;
  font-size: 30px;
  font-family: Georgia, serif;
  font-weight: bold;
  text-decoration: underline blue;
}

h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  font-weight: bold;
  text-decoration: underline blue;
}

p {
  font-family: Helvetica, sans-serif;
}

a {
  color: red;
}

.skills-header {
  color: rebeccapurple;
  font-weight: bold;
}

.languages-list {
  list-style-image: url('assets/globe.png');
}

.languages-list li {
  list-style-type: none;
}


ul li {
  border: 1px solid red;
  background-color: pink;
  border-radius: 5px;
}

.profile-photo {
  border: 1px solid blue;
}

a {
  color: red;
}

body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  }
  
  h1 {
  color: blue;
  font-size: 30px;
  font-family: Georgia, serif;
  font-weight: bold;
  text-decoration: underline blue;
  }
  
  h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  font-weight: bold;
  text-decoration: underline blue;
  }
  
  p {
  font-family: Helvetica, sans-serif;
  }
  
  a {
  color: red;
  }
  
  .skills-header {
  color: rebeccapurple;
  font-weight: bold;
  }
  
  .languages-list {
  list-style-image: url('assets/globe.png');
  }
  
  .languages-list li {
  list-style-type: none;
  color:blue
  }
  

  
  ul li {
  border: 1px solid red;
  background-color: pink;
  border-radius: 5px;
  }
  
  .profile-photo {
  border: 1px solid blue;
  }

  .libraries-list li {
    border: 1px solid red;
    background-color: pink;
    border-radius: 10px;
    color: blue;
    font-weight: bold;
  }
  ul {
    list-style-type: none;
  }
  
